hetzner_cloud_api_token = "<api-kei-generated-from-project-in-hetzner>"
hetzner_ssh_key_fingerprint = "<fingerprint_from_website>" # something like this: "99:4a:37:d0:8b:90:3c:c9:09:35:a6:49:22:a4:e0:94"
ssh_vps_root_key = "<your-ssh-root-public-key>"
