<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description"
              content="Building the apps I regularly need using Python, Django, and FastAPI">
        <meta name="keywords" content="Django, Python, FastAPI">
        <title>Your OAuth Token</title>
    </head>
    <body>
        <h2>OAuth Token</h2>
        <p>
            Your OAuth Token: <strong>{{ token }}</strong>
        </p>
        <p>Expires: {{ expires }}</p>
        <p>Use this token to authenticate your FastAPI requests.</p>
    </body>
</html>
