{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Django Docker Starter</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="dashboard">
<header>
  <div class="logo-wrapper">
    <a href="{% url 'accounts_dashboard_path' %}">
      <h1>Dashboard</h1>
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="{% url 'accounts_dashboard_path' %}">#####</a></li>
      <li><a href="{% url 'accounts_dashboard_path' %}">#####</a></li>
    </ul>
  </nav>
  <!-- Sign out -->
  <div class="">
    <div>
      <a href="{% url 'logout' %}" class="" role="menuitem" tabindex="-1">
        <button type="button" class="">
          Sign out
        </button>
      </a>
    </div>
  </div>
</header>
<main>
  {% block content %} {% endblock content %}
</main>
<footer></footer>

<script src="{% static 'js/index.js' %}"></script>
</body>
</html>