<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Docker Starter</title>
</head>
<body>
  <header>
    <div class="logo-wrapper"></div>
    <nav>
      <ul>
        <li><a href="{% url 'website_homepage_path' %}">Home</a></li>
        <li><a href="{% url 'blog_index_path' %}">Blog</a></li>
        <li><a href="{% url 'website_about_path' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock content %}
  </main>
  <footer></footer>
</body>
</html>