{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Docker Starter</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header class="flex-row space-between">
    <nav class="nav">
      <!-- Logo -->
      <a href="{% url 'website_homepage_path' %}">
        <h1>CreoleCorner</h1>
      </a>

      <div class="mobile-burger-menu">
        <svg viewBox="0 0 100 80" width="30" height="30">
          <rect width="80" height="10"></rect>
          <rect y="30" width="80" height="10"></rect>
          <rect y="60" width="80" height="10"></rect>
        </svg>
      </div>

      <!-- Nav links -->
      <div class="nav-links hidden">
        <!-- General links -->
        <a href="{% url 'blog_index_path' %}">Blog</a>
        <a href="{% url 'website_about_path' %}">About</a>
        <!-- Login/Signup/Dashboard links -->
        {% if user.is_authenticated %}
          <a href="{% url 'accounts_dashboard_path' %}">
            <button type="button" class="">
              Dashboard
            </button>
          </a>
        {% else %}
          <a href="{% url 'login' %}">
            Login
          </a>
          <a href="{% url 'accounts_signup_path' %}">
            Sign Up
          </a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% block content %} {% endblock content %}
  </main>
  <footer></footer>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>